{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}


{% block content %}
<div class="features">
    <h1>Заголовок</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quod doloribus maiores cum ipsa ducimus molestiae perspiciatis quis 
        repudiandae repellendus numquam officia commodi, quos laborum at vero voluptas
        sint nam dignissimos expedita. Exercitationem, eaque ullam commodi magnam tenetur 
        dolor officiis? Dolorem similique architecto voluptatum impedit fuga magnam,
        animi consectetur quo quis? Perferendis tempora laboriosam reiciendis
        harum earum officia quam ipsa consectetur nobis, assumenda beatae culpa 
        temporibus nesciunt atque aspernatur explicabo impedit commodi sit sint 
        dolorem quibusdam animi unde. Sapiente ab asperiores ad deleniti nam distinctio, 
        ut harum facilis excepturi quas, odit dicta aperiam aliquam? Consequatur, adipisci
            perspiciatis excepturi quidem sunt eligendi quibusdam. Provident quasi
            officia ratione? Atque sint debitis ut nisi vel nostrum, assumenda 
            incidunt ipsam nulla veniam ducimus cumque sit dignissimos id beatae.
            Doloremque praesentium unde exercitationem debitis animi magnam dolorem
            autem aliquam earum sequi, eveniet quasi ab beatae, numquam corporis 
            assumenda consectetur, eum quisquam rem hic eaque ipsa dignissimos.
                Necessitatibus animi aliquid qui nisi expedita laborum dolores neque
                quis reprehenderit asperiores aut dolore, illo quod veniam libero cum 
                ipsa, fugiat eos error omnis reiciendis. Optio, totam tenetur debitis 
                similique non ullam sint eligendi voluptates qui, voluptate ipsum! 
                Explicabo a excepturi animi, aperiam esse eos magni ducimus incidunt
                molestiae aut molestias quae! Ducimus voluptate excepturi reiciendis
                neque atque, eos cum sequi quaerat molestias facere non aspernatur 
                quisquam perferendis in officiis minus recusandae nesciunt qui
        similique ad possimus incidunt aperiam! Doloremque harum at
            nesciunt fuga cupiditate neque nisi, consequatur vero, nihil 
            provident ab magni vel sunt, labore quod facilis atque tenetur.
                    
        Molestiae itaque vel nulla laudantium adipisci, eos dolor pariatur 
        deserunt nam dolorem impedit veritatis id nihil inventore? Neque quam 
        voluptatum sapiente exercitationem, nesciunt aspernatur et facere unde 
        aperiam, error iusto modi. Sapiente ad unde distinctio voluptate 
        doloremque dolore autem eius. Autem, consectetur. Assumenda ipsa 
        consectetur reiciendis dolores recusandae est obcaecati voluptas 
        quia velit deserunt quis rem perferendis ad maiores nemo hic magni
        corrupti, rerum reiciendis animi nam harum quo aut cumque tenetur quaerat? Tempora,
        consectetur velit. Illo, aliquid ea?</p>
    <a href="{% url 'home' %}" class="btn btn-warning">На главную</a>
</div>

{% endblock %}